.alertBox {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: auto auto;

	grid-template-areas: 
		"rewardImage missionData factionIcon"
		"countDown    countDown   countDown";

	height: 12%;
}
.expired {
	display: none;
}

.rewardImage{
	grid-area: rewardImage;
		
	height: 100%;
	max-width: 100%
}

.missionData {
	grid-area: missionData;
}
 
.factionIcon {
	grid-area: factionIcon;
}

.countDown {
	grid-area: countDown;

	width: 80%;

	border-top-style: solid;
	border-top-width: 1px;
	
	display: flex;
	justify-self: center;
	justify-content: center;
}